@import "../../styles/responsive.scss";

.barChartBox {
    width: 100%;
    height: 50%;

    h1{
        font-size: 1.2rem;
        margin-bottom: 1.2rem;

        @include md{
          font-size: 13px;
        }
    }

}