
.chartBox {
    display: flex;
    height: 100%;

    .boxInfo{
        flex: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .title{
            font-size: 0.9rem;
            display: flex;
            align-items: center;
            gap: 0.3rem;
        }
    }

    .chartInfo{
        font-size: 0.8rem;
        flex: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;


        .chart{
            height: 100%;
            width: 100%;

        }

        .texts{
            font-size: 0.8rem;
            display: flex;
            flex-direction: column;
            text-align: right;
        }


        
    }



}