.products {
        .info {
        display: flex;
        align-items: center;
        gap: 1rem;
        margin-bottom: 1rem;


        button{
            
            margin-left: 88rem;
            padding: 7px;
            cursor: pointer;
            border-radius: 10px;
            border-color:  hsl(166, 100%, 39%);
            background-image: linear-gradient(to bottom, hsla(166, 94%, 52%, 0.997),hsl(167, 100%, 54%) );
            box-shadow: 0 0 20px hsla(164, 100%, 53%, 0.641);
            opacity: 70%;
            color: hsl(162, 77%, 29%);
            font-size: small;
            font-weight: 600;
    
    
            &:hover {
                box-shadow: 0 0 20px hsl(164, 100%, 46%);
                opacity: 100%;
    
    
                }
        }
    }
}