@import "../../styles/variables.scss";
@import "../../styles/responsive.scss";

.footer {
    width: full;
    height: full;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 2rem;
    padding-bottom: 2.8rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: 0.9rem;
    margin-right: 0.9rem;
    position: absolute;
    gap: 2rem;
    bottom:0px;
    background-image: url('./bg-img.svg');



    span{
      display: flex;

        &:first-child{
            font-weight: 700;
            color: hsla(240, 29%, 69%, 0.382);
        }
        &:last-child{
          
            
            font-size: 0.7rem;
            color: hsla(240, 29%, 69%, 0.497);
        }
    }

    @include xl{
      position: fixed;
      background-image: url('./bg-img.svg');
      background-size: cover;


    }
    @include lg{
      position: fixed;
      background-image: url('./bg-img.svg');
      background-size: cover;

    }
    @include md{
      display: none;

    }
  }
