.dataTable {
    padding: 0.5rem;

    .dataGrid {
      opacity: 70%;
      padding: 20px;
      background-image: linear-gradient(to bottom, hsla(240, 24%, 37%, 0.153),hsla(240, 30%, 17%, 0.056) );

      border-radius: 1rem;
      border-color:  hsla(240, 24%, 37%, 0.153);
      color: rgba(209, 236, 236, 0.831);

      &:hover {
        box-shadow: 0 0 20px hsla(164, 100%, 76%, 0.164);
        opacity: 100%;


        }
        .css-5wly58-MuiDataGrid-root{
            border: none;
        }

      /* Other styles */
  
      .MuiDataGrid-toolbarContainer {
        flex-direction: row-reverse;
        border: none;
      }
      .css-wop1k0-MuiDataGrid-footerContainer {
        border: none;
      }
  
      img {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        object-fit: cover;
      }
  
      .action {
        display: flex;
        gap: 15px;
  
        img {
          width: 20px;
          height: 20px;
          cursor: pointer;
        }
      }
    }
  }