@import "../../styles/responsive.scss";


.chartBox4 {
    display: flex;
    flex-direction: column;
    height: 100%;

    .boxInfo{
        flex: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @include md{
          gap: 10px;
        }

        .title {
          font-size: 0.9rem;
          display: flex;
          align-items: center;
          gap: 0.5rem;
        
          @include xxl {
            font-size: 14px;
          }
        }
    }

    .chartInfo{
        font-size: 0.8rem;
        flex: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;


        .chart{

            width: 100%;
            padding-top: 25px;

            @include xs{
              width: 200px;
            }

        }

        .texts{
            font-size: 0.8rem;
            display: flex;
            flex-direction: column;
            text-align: right;
        }


        
    }



}