@import "./variables.scss";
@import "./responsive.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: none;

  body::-webkit-scrollbar {
    display: none;
  }
}

.body {
  scrollbar-width: none;

  body::-webkit-scrollbar {
    display: none;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-size: 1rem;
  font-family: "Inter", sans-serif;
  letter-spacing: 0.17rem;
  color: $main-color;
  background-image: url('./bg-img.svg');
  background-size: cover;

  
  height: 100vh;

  @include lg {
    background-image: none;
    background-color: $main-bg;
  }
}

.container {
  display: flex;

  @include xxl {
    display: flex;
  }
}

.menuContainer {
  width: 200px;
  padding: 3px 20px;
  border-right: 2px solid hsla(240, 24%, 37%, 0.157);
  margin-bottom: 2rem;

  @include lg {
    width: max-content;
  }
}

.contentContainer {
  padding: 5px 20px;
  width: 100%;
  margin-bottom: 1rem;

  @include md {
    width: max-content;
  }
}