.add {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.9;
    background-color: rgba(72, 6, 85, 0.489);
    display: flex;
    align-items: center;
    justify-content: center;


    .modal{
        
    }
     
  }