@import "./variables.scss";


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: $main-bg;
}

a {
  text-decoration: none;
  color: inherit;
}

.main {
  font-size: 0.9rem;
  font-family: "Inter", sans-serif;
  letter-spacing: 0.08rem;
  background-color: $main-bg;
  color: $main-color;
  
}

.container {
  display: flex;
}

.menuContainer {
  width: 250px;
  padding: 8px 20px;
  border-right: 2px solid $soft-bg;


}

.contentContainer {
  padding: 8px 20px;
  width: 100%;
}