
// background palette
$main-bg: hsl(240, 32%, 15%);
$soft-bg: hsl(240, 21%, 42%) ;
$dark-bg: hsl(240, 50%, 8%) ;

//Text palette
$main-color: hsla(240, 44%, 93%, 0.885);
$soft-color: hsl(240, 10%, 80%);
$dark-color: hsl(240, 35%, 80%) ;
