.login{

  width: 99vw;
    height: 99vh;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    background-color: rgba(5, 22, 36, 0.282);
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(10px);

  .layoutlogin {

    padding: 50px;
        background-image: linear-gradient(to bottom, hsla(215, 39%, 13%, 0.648),hsla(240, 47%, 13%, 0.368) );

        border-radius: 1rem;
        border-color:  hsla(240, 24%, 37%, 0.153);
        box-shadow: 0 0 20px hsla(184, 91%, 74%, 0.224);
        position: relative;

    h1{
      margin-bottom: 20px;
      font-size: 24px;


    }
      
  
  
    .formfield {
      padding: 4px;
      
      
  
      .forms{
        margin-bottom: 20px;
        display: block;
        background-image: linear-gradient(to bottom, hsl(194, 58%, 10%),hsl(191, 57%, 9%) );
        border-color:  transparent;
        padding: 20px;
        border-radius: 7px;
        color: rgba(118, 253, 238, 0.55);
        
  
  
      }
  
      .button{
        padding: 9px;
        cursor: pointer;
        border-radius: 10px;
        border-color:  hsl(166, 100%, 39%);
        background-image: linear-gradient(to bottom, hsla(166, 94%, 52%, 0.997),hsl(167, 100%, 54%) );
        box-shadow: 0 0 20px hsla(164, 100%, 53%, 0.641);
        opacity: 70%;
        color: hsl(162, 77%, 29%);
        font-size: small;
        font-weight: 900;
        &:hover {
          box-shadow: 0 0 20px hsl(164, 100%, 46%);
          opacity: 100%;


          }
  
  
      }
  
  
    }

    .backlink{
      margin-left: 3px;
      padding: 3px;
      display: flex;
      font-size: small;
      font-weight: 700;
      color:rgba(98, 207, 174, 0.282);
    }
  
    .adminLink {
      margin-left: 3px;
      padding: 3px;
      display: flex;
      font-size: small;
      font-weight: 700;
      color:rgba(243, 147, 138, 0.738);
  
  
    }


  }


}