@import "../../styles/responsive.scss";


.pieChartBox1 {
  flex-direction: column-reverse;
  font-size: small;
  align-items: center;
  justify-content: center;
  max-width: 300px;

  @include md{
    flex-direction: column-reverse;
    font-size: small;
    align-items: center;
    justify-content: center;
    max-width: 300px;


  }
  @include sm{
    flex-direction: column-reverse;
    font-size: small;
    align-items: center;
    justify-content: center;
    max-width: 200px;


  }

  @include xs{
    flex-direction: column-reverse;
    font-size: small;
    align-items: center;
    justify-content: center;
    max-width: 100px;
    
  }

  .content-text{
    display: inline-block;
    align-items: start;

    @include md{
      max-width: 100px;
      font-size: small;
      
    }
    


    

    h1{
      display: flex;
      justify-content: start;
      align-items: start;
      font-size: 24px;
      padding: 1rem;

      @include lg{
        font-size: small;
        align-items: center;
        justify-content: center;

  
      }
    }
    
    .options {
      display: inline-block;
      justify-content: start;
      gap: 10px;
      font-size: 14px;

      @include xxl{
        display: none;
      
      }
      




  
      .option {
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;


        
        @include xs{
          width: 90px;
        
        }



  
        .title {
          display: flex;
          flex-direction: row;
          gap: 1px;
          align-items: center;
          

          

  
          .dot {
            width: 20px;
            height: 20px;
            border-radius: 50%;
          }

          ul{
            
            
            li{
                list-style-type: none;
                position: relative;
                width: 2px;
                padding-top: 5px;
                background-color: rgba(255, 47, 120, 0.37);

                &::after{
                    content: "";
                    position: absolute;
                    left: 50%;
                    bottom: 0;
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    background-color: rgba(251, 83, 142, 0.756);
                    transform: translateX(-50%);
                }

                div{
                    display: flex;
                    flex-direction: column;
                    width: 250px;
                    margin-bottom: 2px;
                    border-radius: 15px;
                    background-color:rgba(255, 68, 87, 0.168);



                    h1{
                        font-size: small;
                        margin-bottom: 5px;
                        @include md{

                          display: inline;
                          font-size: x-small;
                        
                        }
                    }

                    h5{
                        display: inline;
                        margin-left: 15px;
                        font-size: 13px;
                        opacity: 50%;
                        margin-bottom: 2px;
                        margin-top: -10px;

                        @include md{
                          font-size: x-small;
                        
                        }
                    }
                }
            }
          }
        }
      }
    }
  }

  .piechart11 {
    
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

  
    @include md {
      width: 70%;
      max-width: 400px; 
    }
    @include sm{
      min-width: 270px;
      font-size: small;
      
    }
  }
}

